<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<title>Insert title here</title>
</head>
<body>

<h1 class="text-center">Login Page</h1>
<div style="margin-left: 500px;margin-top: 50px;">
<form  th:action="@{/loginPage}" method="post">
<div class="card" style="width: 18rem;">
  <div class="card-header text-center">
    Login
  </div>
  <div class="card-body">
  <div th:if="${param.error}" class="alert alert-danger">Invalid User Name and Password</div>
   <div th:if="${param.logout}" class="alert alert-info">Logout Success</div>
  
   <div class="mb-3">
      <label class="form-label">User</label>
      <input type="text" class="form-control" name="username" placeholder="user name">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</div>
</form>

</div>
</body>
</html>